<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinkbold.medica">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medica"
        android:usesCleartextTraffic="true">
        <activity android:name=".Chapter28_35"/>
        <activity android:name=".Chapter28_34" />
        <activity android:name=".Chapter28_33" />
        <activity android:name=".Chapter28_32" />
        <activity android:name=".Chapter28_31" />
        <activity android:name=".Chapter28_30" />
        <activity android:name=".Chapter28_29" />
        <activity android:name=".Chapter28_28" />
        <activity android:name=".Chapter28_27" />
        <activity android:name=".Chapter28_26" />
        <activity android:name=".Chapter28_25" />
        <activity android:name=".Chapter28_24" />
        <activity android:name=".Chapter28_23" />
        <activity android:name=".Chapter28_22" />
        <activity android:name=".Chapter28_21" />
        <activity android:name=".Chapter28_20" />
        <activity android:name=".Chapter28_19" />
        <activity android:name=".Chapter28_18" />
        <activity android:name=".Chapter28_17" />
        <activity android:name=".Chapter28_16" />
        <activity android:name=".Chapter28_15" />
        <activity android:name=".Chapter28_14" />
        <activity android:name=".Chapter28_13" />
        <activity android:name=".Chapter28_12" />
        <activity android:name=".Chapter28_11" />
        <activity android:name=".Chapter28_2" />
        <activity android:name=".Chapter28_1" />
        <activity android:name=".Chapter27_4" />
        <activity android:name=".Chapter27_3" />
        <activity android:name=".Chapter27_2" />
        <activity android:name=".Chapter27_1" />
        <activity android:name=".Chapter26_5" />
        <activity android:name=".Chapter26_4" />
        <activity android:name=".Chapter26_3" />
        <activity android:name=".Chapter26_2" />
        <activity android:name=".Chapter26_1" />
        <activity android:name=".Chapter28" />
        <activity android:name=".Chapter27" />
        <activity android:name=".Chapter26" />
        <activity android:name=".Chapter25_2" />
        <activity android:name=".Chapter25_1" />
        <activity android:name=".Chapter25" />
        <activity android:name=".Chapter24_1" />
        <activity android:name=".Chapter22_1" />
        <activity android:name=".Chapter24" />
        <activity android:name=".Chapter23" />
        <activity android:name=".Chapter20_7" />
        <activity android:name=".Chapter20_6" />
        <activity android:name=".Chapter20_5" />
        <activity android:name=".Chapter20_4" />
        <activity android:name=".Chapter20_3" />
        <activity android:name=".Chapter20_2" />
        <activity android:name=".Chapter20_1" />
        <activity android:name=".Chapter22" />
        <activity android:name=".Chapter21" />
        <activity android:name=".Chapter19_1" />
        <activity android:name=".Chapter20" />
        <activity android:name=".Chapter19" />
        <activity android:name=".Chapter18" />
        <activity android:name=".Chapter17" />
        <activity android:name=".Chapter16_2" />
        <activity android:name=".Chapter16" />
        <activity android:name=".Chapter15_2" />
        <activity android:name=".Chapter15_1" />
        <activity android:name=".Chapter15" />
        <activity android:name=".Chapter14_5" />
        <activity android:name=".Chapter14_4" />
        <activity android:name=".Chapter14_3" />
        <activity android:name=".Chapter14_2" />
        <activity android:name=".Chapter14_1" />
        <activity android:name=".Chapter14" />
        <activity android:name=".Chapter13_1" />
        <activity android:name=".Chapter13" />
        <activity android:name=".Chapter12_2" />
        <activity android:name=".Chapter12_1" />
        <activity android:name=".Chapter11_5" />
        <activity android:name=".Chapter11_4" />
        <activity android:name=".Chapter11_3" />
        <activity android:name=".Chapter11_2" />
        <activity android:name=".Chapter12" />
        <activity android:name=".Chapter11" />
        <activity android:name=".Chapter10_3" />
        <activity android:name=".Chapter10_2" />
        <activity android:name=".Chapter10_1" />
        <activity android:name=".Chapter10" />
        <activity android:name=".Chapter9_3" />
        <activity android:name=".Chapter9_2" />
        <activity android:name=".Chapter9_1" />
        <activity android:name=".Chapter9" />
        <activity android:name=".Chapter8" />
        <activity android:name=".Chapter7_2" />
        <activity android:name=".Chapter7_1" />
        <activity android:name=".Chapter7" />
        <activity android:name=".Chapter6_1" />
        <activity android:name=".Chapter6" />
        <activity android:name=".Chapter5_7" />
        <activity android:name=".Chapter5_6" />
        <activity android:name=".Chapter5_5" />
        <activity android:name=".Chapter5_4" />
        <activity android:name=".Chapter5_3" />
        <activity android:name=".Chapter5_2" />
        <activity android:name=".Chapter5_1" />
        <activity android:name=".Chapter5" />
        <activity android:name=".Chapter3_6" />
        <activity android:name=".Chapter3_5" />
        <activity android:name=".Chapter3_4" />
        <activity android:name=".Chapter3_3" />
        <activity android:name=".Chapter3_2" />
        <activity android:name=".Chapter3_1" />
        <activity android:name=".Chapter3" />
        <activity android:name=".Chapter4" />
        <activity android:name=".Feedback" />
        <activity android:name=".Docs" />
        <activity android:name=".AppInfo" />
        <activity android:name=".Chat1_4" />
        <activity android:name=".Chapt1_3" />
        <activity android:name=".Chapt1_2" />
        <activity android:name=".ChapterTwo" />
        <activity android:name=".Navigation" />
        <activity android:name=".HowTo" />
        <activity android:name=".ChaptersOne" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>